
html { 
  box-sizing: border-box; 
}

*, *:before, *:after { 
  box-sizing: inherit;
  font-family: 'Amiri', sans-serif;
 
}

body {
  background-color:#b72027;
  
}

img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.startScreen {
  display: grid;
  grid-row-gap: 30px;
  align-items: center; 
  flex-direction: column;   
}

.startScreen h1 {
  text-align: center;
  font-size: 40px;
  color: #fdfdfd;
  font-variant: small-caps;
}

button {
  display: inline-block;
  border: none;
  border-radius: 9px;
  padding: 1rem 2rem;
  text-decoration: none;
  font-weight: bold;
  background: black;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

.correct-or-wrong-text {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.correctHighlight {
  border: 2px solid black;
  border-radius: 6px;
  background-color: #235018;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-right: 10%
}
.correctHighlight input{
  visibility: hidden;
}
.question-1{
    text-align: center;
    
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input:checked {
    border: 8px solid #161515;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

header {
  text-align: center;
}

/*need to add feedback to all buttons*/
/*need to style finish page*/