html { 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    background-color: #b72027;
    
}
img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}

.startScreen {
   display: grid;
   grid-row-gap: 30px;
   align-items: center; 
   flex-direction: column;   
}

.startScreen h1 {
    text-align: center;
    font-size: 40px;
    color: #ffd700;
    font-variant: small-caps;
 }

 button {
    margin-top: 75%; 
    display: inline-block;
    border: none;
    border-radius: 9px;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    background: black;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
 }